@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&display=swap');

.brandName{
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 800;
    margin: 0.5rem 4rem 1rem 4rem;
    /* border: solid 1px; */
}
.navBar{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0 9rem 1rem 9rem;
    font-size: 1.15rem;
    /* border: solid 1px; */

}
.navBar div a {
    text-decoration: none;
    color: black;
  }